@model IEnumerable<RMS.Models.FeeDetails>
<br />
<div class="text-md-center">
    <h4 class="alert alert-primary" >Fee List of Single Student</h4>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.RegistrationDate) *@
                @Html.DisplayName("Fee Deposit Date")
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
              
              <a class="btn btn-outline-primary" asp-action="EditFee" asp-controller="Fees" asp-route-id="@item.StudentId">Edit Fee Details</a>
              <a class="btn btn-outline-danger" asp-action="DeleteFee" asp-controller="Fees" asp-route-id="@item.StudentId">Delete Fee</a>

            </td>
            <td>
                  <a class="btn btn-outline-info" asp-action="DepositFee" asp-controller="Fees" asp-route-id="@item.StudentId">Deposit Fee Again</a>
            </td>
        </tr>
}
    </tbody>
</table>
