@model RMS.Models.Student
<br />
<div class="text-md-center">
    <h4 class="alert alert-danger">Are you sure you want to delete this?</h4>
</div>

<hr />

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhoto)
        </dt>
        <dd class="col-sm-10">

            <img src="~/Images/@Model.StudentPhoto" class="img-fluid" width="100" height="100" asp-append-version="true" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adhaar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adhaar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseList.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressProof)
        </dt>
        <dd class="col-sm-10">
            <img src="~/AddressProof/@Model.AddressProof" class="img-fluid" width="100" height="100" asp-append-version="true" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>


